main {
    min-height: 60vh;
    margin-left: 10px;
    margin-right: 10px;
    }
// HISTORIA
.historia-sherlock-holmes{
    padding: 0 3%;
    margin-top: -40px;
}
.titulo-historia{
    text-align: center;
    background-color: $background-principal;
    font-size: 50px;
}
.contenido-historia{
    margin-top: 10px;
    text-align: left;
    background-color: $background-principal;
    font-size: 22px;
    align-items: center;
    color: $color-principal;
}

// BIOGRAFÍA
.biografia{
    padding: 0 3%;
    margin-top: 500px;
}
.titulo-biografia{
    text-align: center;
    background-color: $background-principal;
    font-size: 40px;
}
.contenido-biografia{
    text-align: left;
    background-color: $background-principal;
    font-size: 22px;
    align-items: center;
    color: $color-principal;
}