@media (min-width: 1023px) {
    /* MENU HAMBURGUESA DESKTOP */
    .respmenu {
        display: none;
        }
        .background-image-index {
            background-image: url(../assets/img/sherlock-holmes-index-mobile.jpg);
            background-size: cover;
            background-attachment: fixed;
            position: relative;
            min-height: 100vh;        
        }
}